<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.nebulas.wallet.android">

        <uses-permission android:name="android.permission.USE_FINGERPRINT" />
        <application>
                <activity
                        android:name=".module.launch.H5RaiseDeliverActivity"
                        android:screenOrientation="portrait">
                        <intent-filter>
                                <action android:name="android.intent.action.VIEW"/>

                                <category android:name="android.intent.category.DEFAULT"/>
                                <category android:name="android.intent.category.BROWSABLE"/>

                                <data android:scheme="${app_scheme}"/>
                        </intent-filter>
                </activity>

                <service
                        android:name=".update.AppUpdateService"
                        android:exported="false"/>

                <activity
                        android:name=".update.AppUpdateActivity"
                        android:theme="@style/AppTheme.Transparent"/>

                <service android:name=".push.message.channel.firebase.NasFirebaseMessagingService">
                        <intent-filter>
                                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                        </intent-filter>
                </service>
                <service android:name=".push.message.channel.firebase.NasFirebaseInstanceIdService">
                        <intent-filter>
                                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
                        </intent-filter>
                </service>

                <activity
                        android:name=".dialog.VerifyPasswordActivity"
                        android:screenOrientation="portrait"
                        android:theme="@style/DialogActivity"
                        android:windowSoftInputMode="adjustResize|stateVisible"/>

        </application>

</manifest>